* {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

.container {
    padding: 10px;
    display:flex;
    flex-direction: column;
    background: palegreen;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    gap: 10px;
}

.top-item{
    background: grey;
    height: 100%;
    width: 100%;
}

.bottom {
    display: flex;
    height: 80%;
    gap: 10px;
}


.left {
    display:flex;
    justify-content: center;
    align-items: center;
    background: purple;
    width: 50%;
    height: 100%;
}

.left-item {
    background: yellow;
    height:20%;
    width: 20%;

}

.right {
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap:10px;
}

.right-item {
    height: 100%;
    background: darkgreen;

}


