
*{
    font-size: 15px;
    font-family: Courier;
    background-color: yellow;
    align-items: center;
    box-sizing: border-box;
}

p {
    background-color: gold;
}

.hastur-box {
    background: gold;
    width:95%;
    height:30%;
    display: flex;
    flex-direction: row;
    padding:20px;
    margin:20px
}

.hastur-items {
    display: flex;
    vertical-align: right;
    background: black;
    width:20%;
    height:90%;
    margin:20px
}

.first-sun {
    width: 100px;      
    height: 100px;        
    background-color:   rgb(25, 25, 25); 
    border-radius: 50%;
}

.king-box {
    display: flex;
    background: gold;
    flex-direction: row;
    width:95%;
    height:10%;
    padding:20px;
    margin:20px
}

.twin-box {
    display: flex;
    background: gold;
    flex-direction: row;
    width:95%;
    height:700px;
    padding:20px;
    margin:20px
}

.twin-items {
    display: flex;
    justify-content: flex-end;
    background: black;
    width:20%;
    height:90%;
    padding:20px;
    margin:20px
}

.second-sun {
    align-items: center;
    width: 100px;      
    height: 100px;        
    background-color:   rgb(25, 25, 25); 
    border-radius: 50%;
}




